Repository bacco007/webepg, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docker, documentation, ci, dependencies, config, security

updates
  .github/workflows/pr-lint.yml
  .github/workflows/security-scan.yml
  backend/Dockerfile
Labels: backend, docker, ci, config, security

updates
  backend/Dockerfile
Labels: backend, docker

backend changes
  .github/workflows/README.md
  .github/workflows/backend-ci.yml
  .github/workflows/codeql.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/security-scan.yml
  backend/pyproject.toml
  backend/uv.lock
Labels: backend, documentation, ci, dependencies, config, security

updates
  backend/app/utils/xml_processing.py
Labels: backend

updates
  backend/app/utils/xml_processing.py
  backend/check_upgrades_quick.py
  backend/requirements.txt
  backend/scripts/convert_requirements_to_pyproject.py
  backend/uv.lock
  frontend/biome.jsonc
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/channellist/history/timeline-client.tsx
  frontend/src/app/transmitters/transmitters-client.tsx
  frontend/src/components/channel/channel-card.tsx
  frontend/src/components/channellist-history/subscriptiontv-page-client.tsx
  frontend/src/components/epg-stats.tsx
  frontend/src/components/nownext/channel-card.tsx
  frontend/src/components/shared/channel-card.tsx
  frontend/src/components/ui/slider.tsx
  frontend/src/components/ui/sliding-number/index.tsx
  frontend/src/components/vertical-timeline/index.ts
  frontend/src/components/vertical-timeline/provider-badge.tsx
  frontend/src/components/vertical-timeline/vertical-timeline-progress.tsx
  frontend/src/components/vertical-timeline/vertical-timeline.tsx
  frontend/src/data/vertical-timeline-events.ts
  frontend/src/hooks/use-breadcrumbs.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/lib/timeline-data.ts
  frontend/src/lib/timeline-providers/galaxy.ts
  frontend/src/lib/timeline-providers/ubiworldtv.ts
  frontend/src/lib/vertical-timeline-utils.ts
  frontend/src/types/vertical-timeline.ts
  frontend/temp_galaxy.txt
Labels: frontend, backend, dependencies, config

Updates
  backend/UPGRADE_WITH_UV.md
  backend/app/logging_config.py
  backend/migrate_to_uv.sh
  backend/uv.lock
  backend/xmltvdata/remote/xmlepg_additional_channels.csv
  backend/xmltvdata/remote/xmlepg_channels.csv
  frontend/.cursor/rules/frontend.mdc
  frontend/biome.jsonc
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/layout.tsx
  frontend/src/components/epg/index.tsx
  frontend/src/components/nownext/channel-card.tsx
  frontend/src/components/sidebar__backup_20241110/Sidebar.tsx
  frontend/src/components/sidebar__backup_20241110/sidebar-content.tsx
  frontend/src/components/sidebar__backup_20241110/sidebar-footer-content.tsx
  frontend/src/components/sidebar__backup_20241110/sidebar-footer.tsx
  frontend/src/components/sidebar__backup_20241110/sidebar-header.tsx
  frontend/src/components/sidebar__backup_simplified_20241110/Sidebar.tsx
  frontend/src/components/sidebar__backup_simplified_20241110/sidebar-content.tsx
  frontend/src/components/sidebar__backup_simplified_20241110/sidebar-footer-content.tsx
  frontend/src/components/sidebar__backup_simplified_20241110/sidebar-footer.tsx
  frontend/src/components/sidebar__backup_simplified_20241110/sidebar-header.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/lib/error-handling.tsx
  frontend/src/lib/timeline-providers/austar.ts
  frontend/src/lib/timeline-providers/ectv.ts
  frontend/src/lib/timeline-providers/fetchtv.ts
  frontend/src/lib/timeline-providers/foxtelanalogue.ts
  frontend/src/lib/timeline-providers/foxteldigital.ts
  frontend/src/lib/timeline-providers/galaxy.ts
  frontend/src/lib/timeline-providers/optus.ts
  frontend/src/utils/nownext.ts
Labels: frontend, backend, documentation, dependencies, config

Updates
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/hooks/use-mobile.ts
Labels: frontend, dependencies, config

updates
  backend/requirements.txt
  backend/uv.lock
  backend/xmltvdata/remote/xmlepg_additional_channels.csv
  backend/xmltvdata/remote/xmlepg_channels.csv
  frontend/.vscode/settings.json
  frontend/biome.jsonc
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/sitemap-0.xml
  frontend/src/app/channellist/history/[provider]/provider-client.tsx
  frontend/src/app/epg/[date]/epg-date-client.tsx
  frontend/src/app/epg/epg-client.tsx
  frontend/src/app/settings/additional-channels/additional-channels-client.tsx
  frontend/src/components/channel-data-table.tsx
  frontend/src/components/epg/index.tsx
  frontend/src/components/epg/list-view.tsx
  frontend/src/components/epg/program-item.tsx
  frontend/src/components/epg/sidebar-settings.tsx
  frontend/src/components/epg/utils.ts
  frontend/src/components/epg/weekly-grid-view.tsx
  frontend/src/components/epg/weekly-list-view.tsx
  frontend/src/components/layouts/sidebar-layout.tsx
  frontend/src/components/maps/radio-transmitter-map.tsx
  frontend/src/components/maps/tv-transmitter-map.tsx
  frontend/src/components/timeline/TimelineHeader.tsx
  frontend/src/components/timeline/TimelineRow.tsx
  frontend/src/components/timeline/TimelineSpacingSelector.tsx
  frontend/src/components/timeline/TimelineSpan.tsx
  frontend/src/components/timeline/TimelineSpanPopover.tsx
  frontend/src/components/timeline/constants.ts
  frontend/src/components/timeline/types.ts
  frontend/src/components/timeline/utils.ts
  frontend/src/lib/timeline-data.ts
  frontend/src/lib/timeline-data.ts.backup
  frontend/src/lib/timeline-providers/fetchtv.ts
  frontend/src/lib/timeline-providers/freeview_metro.ts
  frontend/src/lib/timeline-providers/skynz.ts
  frontend/src/lib/timeline-providers/transact.ts
Labels: frontend, backend, dependencies, config

upate
  frontend/pnpm-lock.yaml
Labels: frontend, dependencies, config

.github/labeler.yml:

# Label configuration for auto-labeling based on file paths

frontend:
  - frontend/**/*

backend:
  - backend/**/*

docker:
  - '**/Dockerfile'
  - '**/docker-compose.yml'
  - '**/.dockerignore'

documentation:
  - '**/*.md'
  - '**/docs/**/*'

ci:
  - '.github/workflows/**/*'

dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/pnpm-lock.yaml'
  - '**/requirements.txt'
  - '**/pyproject.toml'
  - '**/uv.lock'

config:
  - '**/*.json'
  - '**/*.toml'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/.env*'

security:
  - '.github/workflows/security-scan.yml'
  - '**/SECURITY.md'
